.reviewList {
  display: flex;
  flex-direction: column;
  gap: 44px;
  margin-top: 56px;
  margin-bottom: 56px;
}
.reviewItem {
}

.reviewContent {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}
.reviewContentContainer {
}

.icon {
  width: 16px;
  height: 16px;
}
.stars {
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  width: 60px;

  border-radius: 60px;
  background: var(--Badges, #f2f4f7);

  color: var(--btn-red-main);

  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.comment {
  color: var(--secondary-text);

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
