.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;

  padding: 24px 0;

  border-bottom: 1px solid var(--Badges, #f2f4f7);
  background: var(--input-bg);
}
.wrapper {
  display: flex;

  align-items: center;
  gap: 450px;
}

.title {
  color: var(--primary-text);

  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.list {
  display: flex;
  gap: 32px;
}

.link {
  color: var(--primary-text);
}

.active {
  color: var(--btn-red-hover);
}
