* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-gray: #6c717b;
  --secondary-text: #475467;
  --light-gray: #dadde1;
  --input-bg: #f7f7f7;
  --neutral-gray: #f2f4f7;
  --yellow-star: #ffc531;
  --btn-red-hover: #d84343;
  --btn-red-main: #e44848;
  --gray-bg: rgb(245, 250, 249);
  --primary-text: #101828;
  --main-bg: #ffffff;

  font-family: "Inter", "sans-serif";
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  display: block;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

address {
  font-style: normal;
}

button {
  border: none;
}

.container {
  padding: 0 64px;
  max-width: 1440px;
  margin: 0 auto;
}
